[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
python-dotenv = "*"
alpaca-py = "*"
djangorestframework = "*"
celery = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.13"
